.Navbar-section{
    width: 100%;
    height: 7vh;
}
nav.main{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    align-items: center;
}
ul.main-nav, ul.mobile-nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0;
    padding: 0;
}

ul.main-nav {
    margin-left: auto;
}

ul.mobile-nav {
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color:var(--crimson-color);
    text-align: center;
    padding-bottom: 5px;
}

ul.main-nav li a{
    color: var(--dark-bold-color);
    text-decoration: none;
    padding: 10px 20px;
    font-size: var(--title-font-size-desktop);
}
ul.mobile-nav li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: var(--title-font-size-desktop);
}

ul.main-nav li a.active {
    color: var(--crimson-color);
}

ul.mobile-nav li a.active{
    color: var(--dark-bold-color);
}
.toggle {
    display: none;
    border: none;
    color: var(--dark-bold-color);
    font-size: 30px;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .toggle {
        display: block;
    }
  ul.main-nav {
        display: none;
    }
 ul.mobile-nav {
        display: flex;
    }
}
