@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

:root {
    /* Color Scheme */
    --crimson-color: #da515d;
    --dark-bold-color: #0d1117;

    /* Desktop FontSize */
    --mega-heading-desktop: 3em;
    --title-font-size-desktop: 1.75em;
    --subtitle-font-size-desktop: 1.5em;
    --normaltext-font-size-desktop: 1.125em;

    /* Mobile FontSize */
    --mega-heading-mobile: 2em;
    --title-font-size-mobile: 1.75em;
    --subtitle-font-size-mobile: 1.25em;
    --normaltext-font-size-mobile: 1em;
}
